<nav class="lindat-header lindat-common" role="navigation">
  {% if not angular %}
  <button type="button" class="lindat-menu-btn"
          onclick="document.querySelector('.lindat-menu').classList.toggle('lindat-open')">
    <span class="lindat-menu-icon">
      <span class="lindat-icon-bar"></span>
      <span class="lindat-icon-bar"></span>
      <span class="lindat-icon-bar"></span>
    </span>
  </button>
  {% else %}
  <button type="button" class="lindat-menu-btn">
    <span class="lindat-menu-icon">
      <span class="lindat-icon-bar"></span>
      <span class="lindat-icon-bar"></span>
      <span class="lindat-icon-bar"></span>
    </span>
  </button>
  {% endif %}
  <ul class="lindat-menu">
    {%- for item in menu %}
    <li class="{{item.id}}">
      <a href="{{item.href}}" {%- if item.class -%}class="{{item.class}}"{%- endif -%}>{{localize('span', item.text)}}</a>
    </li>
    {%- endfor %}
  </ul>
</nav>
